<h1>Booking view</h1>

<p>Plant name: <%= @booking.plant.name %></p>
<p>Plant user email: <%= @booking.plant.user.email %></p>
<p>Start date: <%= @booking.start_date %></p>
<p>End date: <%= @booking.end_date %></p>
<p>Total price: <%= @booking.total_price %></p>
