
<div class="container">
  <div class="mt-3">
    <% if @user == current_user %>
      <h3>Welcome to your profile <%= @user.first_name %></h3>
    <% else %>
      <h3>Profile - <%= @user.first_name %> <%= @user.last_name %></h3>
    <% end %>
  </div>

  <!-- Upcoming bookings -->
  <div class="mt-3">
    <h4 class=>Upcoming bookings</h4>
    <div class="row">
      <% @user.bookings.each do |booking|  %>
        <% if booking.start_date > DateTime.now %> <!-- Check que le booking n'a pas commencé -->
          <div class="col-3 mb-3">
            <div class="card-trip larger-card">
              <%= cl_image_tag booking.plant.photo.key, height: 250, width: 250, crop: :fill, :class =>'image-trip'%>
              <div class="card-trip-infos">

               <!-- Div à gauche -->
                <div>
                  <h2><%= booking.plant.name %></h2>
                  <h2><%= booking.total_price%> €</h2>
                  <p>From <%= booking.start_date.strftime("%d/%m/%y") %></p>
                  <p>to <%= booking.end_date.strftime("%d/%m/%y") %></p>
                </div>

                  <!-- Bouton review -->
                <div id="review-not-available">
                  <p>Review not yet <br> available</p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <!-- Message si page d'upcoming bookings -->
    <% if @user.bookings.all? { |booking| booking.start_date <= DateTime.now } %>
      <p>You don't have any upcoming booking. <%=link_to "Book now!", root_path, class:"btn btn-success btn-sm" %></p>
    <% end %>
  </div>

  <!-- Current  bookings -->
  <div class="mt-3">
    <h4 class=>Ongoing bookings</h4>
    <div class="row">
      <% @user.bookings.each do |booking|  %>
        <% if booking.start_date < DateTime.now and booking.end_date > DateTime.now %> <!-- Check que l'on est dans la période du booking -->
          <div class="col-3 mb-3">
            <div class="card-trip larger-card">
              <%= cl_image_tag booking.plant.photo.key, height: 250, width: 250, crop: :fill, :class =>'image-trip'%>
              <div class="card-trip-infos">

               <!-- Div à gauche -->
                <div>
                  <h2><%= booking.plant.name %></h2>
                  <h2><%= booking.total_price%> €</h2>
                  <p>From <%= booking.start_date.strftime("%d/%m/%y") %></p>
                  <p>to <%= booking.end_date.strftime("%d/%m/%y") %></p>
                </div>

                <!-- Bouton review -->
                <div id="review-not-available">
                  <p>Review not yet <br> available</p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <!-- Message si page d'upcoming bookings -->
    <% if @user.bookings.all? { |booking| (booking.start_date < DateTime.now and booking.end_date > DateTime.now) } %>
      <p>You don't have any ongoing booking.</p>
    <% end %>

  </div>

  <!-- previous bookings -->
  <div class="mt-3">
    <h4 class=>My previous bookings</h4>
    <div class="row">
      <% @user.bookings.each do |booking|  %>
        <% if booking.end_date < DateTime.now %>

          <!-- Cas ou il y a une review -->
          <% if booking.reviews[0].nil? == false %>
            <div class="col-3 mb-3">
              <div class="card-trip  larger-card mb-3">
                <%= cl_image_tag booking.plant.photo.key, height: 250, width: 250, crop: :fill, :class =>'image-trip'%>
                <div class="card-trip-infos">

                 <!-- Div à gauche -->
                  <div>
                    <h2><%= booking.plant.name %></h2>
                    <h2><%= booking.total_price%> €</h2>
                    <p>From <%= booking.start_date.strftime("%d/%m/%y") %></p>
                    <p>to <%= booking.end_date.strftime("%d/%m/%y") %></p>
                  </div>

                    <!-- Affichage des notes à droite -->
                  <div>
                    <% booking.reviews[0].rating.times do %>
                      <i class="fas fa-star" style="color: orange"></i>
                    <% end %>
                    <% (5 - booking.reviews[0].rating).times do  %>
                      <i class="fas fa-star" style="color: lightgrey"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

          <% else %> <!-- Cas ou il n'y a pas de review -->
            <div class="col-3 mb-3">
              <div class="card-trip larger-card mb-3">
                <%= cl_image_tag booking.plant.photo.key, height: 250, width: 250, crop: :fill, :class =>'image-trip'%>
                <div class="card-trip-infos">

                 <!-- Div à gauche -->
                  <div>
                    <h2><%= booking.plant.name %></h2>
                    <h2><%= booking.total_price%> €</h2>
                    <p>From <%= booking.start_date.strftime("%d/%m/%y") %></p>
                    <p>to <%= booking.end_date.strftime("%d/%m/%y") %></p>
                  </div>

                    <!-- Affichage des notes -->
                  <div>
                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModal">
                      <p>Pending <br>review</p>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div>
                              <h2>Add a review on your booking</h2>
                              <%= simple_form_for [booking.plant, booking, @review] do |f| %>
                                <%= f.input :rating, label_html: {class: "review_rating"}, collection: (1..5).to_a, label: "Rate your experience" %>
                                <%= f.input :comments, label_html: {class: "label_new"} %>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <%= f.submit "Submit review", class: "btn btn-success", id: "sweet-alert-demo" %>
                                </div>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- Display all current plants -->
  <div class="mt-5">

    <h4>My plants</h4>

    <div class="row">
      <% @user.plants.each do |plant| %>
        <div class="col-4">
          <div class="card-trip">

            <!-- Display only if current_user is the user plage -->
            <% if @user == current_user %>
              <div class="card-update-delete-buttons">
                <%= link_to edit_plant_path(plant), class:"text-white" do %>
                  <i class="far fa-edit fa-lg"></i>
                <% end %>
                <%= link_to plant_path(plant), method: :delete, class:"text-warning" do %>
                  <i class="fas fa-trash fa-lg"></i>
                <% end %>
              </div>
            <% end %>
            <%= cl_image_tag plant.photo.key, height: 250, width: 250, crop: :fill, :class =>'image-trip'%>
            <div class="card-trip-infos">
              <div>
                <h2><%= plant.name %></h2>

                <div>
                <!-- Calcul rating average and rating count -->
                <% rating_counter = 0 %>
                <% rating_points = 0 %>
                <% plant.reviews.each do |review| %>
                  <% rating_counter += 1 %>
                  <% rating_points += review.rating %>
                  <%=  %>
                <% end %>
                <% if rating_counter == 0 %>
                  <% rating_average = 0 %>
                <% else %>
                  <% rating_average = (rating_points / rating_counter).truncate %>
                <% end %>

                <!-- Display rating average and rating count -->
                <p>
                  <% rating_average.times do %>
                    <i class="fas fa-star fa-sm" style="color: orange"></i>
                  <% end %>
                  <% (5 - rating_average).times do %>
                    <i class="fas fa-star fa-sm" style="color: lightgrey"></i>
                  <% end %>
                   (<%= rating_counter %>)
                 </p>
                </div>
              </div>
              <h2 class="card-trip-pricing"><%= plant.price%>€</h2>
            </div>
          </div>

        </div>
      <% end %>
    </div>

  </div>

  <!-- Display only if current_user is the user plage -->
  <!-- Button to add new plant -->
  <% if @user == current_user %>
    <div class="m-3">
      <%= link_to "Add a new plant", new_plant_path, class:"btn btn-success" %>
    </div>
  <% end %>
  <br>

  <div class="mt-5">
    <!-- Display edit options only if current_user is the user plage -->
    <% if @user == current_user %>
      <h4>My profile</h4>
      <%= link_to "Edit my infos", edit_user_registration_path, class:"btn btn-secondary" %>
      <%= link_to "Edit my password", edit_user_registration_path, class:"btn btn-secondary" %>
    <% end %>
    </div>
</div>
