<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <!-- <img src="#" /> -->
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
    </ul>
  </div>
</div>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn-images-1.medium.com/max/2000/1*zycJdgMbLw3jODarBkR-PA.jpeg);">

  <div class="container">

    <div class="row" style="justify-content: space-between;">
      <div class = "form-home">
        <%= simple_form_for ("http://localhost:3000/") do |f| %>
          <div class="row">
            <%= f.input :start_date, as: :date %>
            <%= f.input :end_date, as: :date %>
            <div class="row">
              <%= f.input :indoor_outdoor, as: :check_boxes, collection: [ "Indoor", "Outdoor"] %>
              <%= f.input :size, as: :check_boxes, collection: [ "Tight", "Middle", "Tall"] %>
              <%= f.input :delivery, as: :radio_buttons, collection: [ "pickup", "delivery"] %>
            </div>
          </div>

            <%= f.button :submit, "Search", class: "btn-warning" %>
            <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-white" %>
        <% end %>
      </div>
      <div class="text-format">
        <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
        <p>Change your life and learn to code at one of our campuses around the world.</p>
      </div>
    </div>

  </div>
</div>




