
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn-images-1.medium.com/max/2000/1*zycJdgMbLw3jODarBkR-PA.jpeg);">

  <div class="container">
    <div class="row" style="justify-content: space-between;">
      <div class = "form-home">
        <%= form_tag plants_path, method: :get do %>
            <div>
              <p class="text-white font-weight-bold mt-3"><%= label_tag :query, 'Find your plant ' %></p>
              <%= text_field_tag :query, params[:query], class:"input-query"%>
            </div>
            <div>
              <p class="text-white font-weight-bold mt-3"><%= label_tag :query, 'Where do you live' %></p>
              <%= text_field_tag :address, params[:address], id:"plant_address"%>
            </div>
            <p class="text-white font-weight-bold mt-3"><%= label_tag 'indoor_outdoor', 'Indoor Outdoor' %></p>
          <div class="row">
              <p class="text-white"><%= check_box_tag :indoor_outdoor, 'Indoor', false, id:"Indoor" %> indoor </p>
              <p class="text-white mb-3"><%= check_box_tag :indoor_outdoor, 'Outdoor', false,id:"Outdoor" %> Outdoor </p>
          </div>
          <%= submit_tag "Search", class: "btn btn-success" %>
        <% end %>
      </div>
      <div class="text-format">
        <h1>Welcome to AirPlants</strong>!</h1>
        <p>The marketplace for plants lovers </p>
        <p> <%= link_to "Browse all plants", plants_path, class:"btn btn-success btn-lg text-white rounded-lg"  %></p>
      </div>
    </div>

  </div>
</div>
