
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn-images-1.medium.com/max/2000/1*zycJdgMbLw3jODarBkR-PA.jpeg);">

  <div class="container">
    <div class="row" style="justify-content: space-between;">
      <div class = "form-home">
        <%= form_tag plants_path, method: :get do %>
          <div class="row">
            <%= date_field_tag :start_date, Date.today() %>
            <%= date_field_tag :end_date, Date.today() %>
          </div>
          <div class="row">
            <div>
              <p class="text-white mt-3 font-weight-bold"><%= label_tag 'indoor_outdoor', 'Indoor Outdoor' %></p>
              <p class="text-white mt-3"><%= check_box_tag 'indoor_outdoor', 'Indoor' %> indoor </p>
              <p class="text-white mt-3"><%= check_box_tag 'indoor_outdoor', 'Outdoor' %> Outdoor </p>
            </div>

            <div>
              <p class="text-white mt-3 font-weight-bold"><%= label_tag 'size', 'Size' %></p>
              <p class="text-white mt-3"><%= check_box_tag 'size', 'Small' %> Small </p>
              <p class="text-white mt-3"><%= check_box_tag 'size', 'Middle' %> Middle </p>
              <p class="text-white mt-3"><%= check_box_tag 'size', 'Tall' %> Tall </p>
            </div>

            <div>
              <p class="text-white mt-3 font-weight-bold"><%= label_tag 'delivery', 'Delivery' %></p>
              <p class="text-white mt-3"><%= check_box_tag 'delivery', 'pickup' %> pickup </p>
              <p class="text-white mt-3"><%= check_box_tag 'delivery', 'delivery' %> delivery </p>
            </div>
          </div>

          <%= submit_tag "Search", class: "btn btn-warning" %>
          <%= submit_tag "Cancel", type: "reset", class: "btn btn-outline-white" %>
            <%#= f.button :button, "Cancel", type: "reset", class: "btn-outline-white" %>
        <% end %>
      </div>
      <div class="text-format">
        <h1>Welcome to AirPlants</strong>!</h1>
        <p>A very cool marketplace for plants lovers</p>
      </div>
    </div>

  </div>
</div>

<div>
  <!-- To delete -->

  <p> <%= link_to "Browse all plants", plants_path %></p>
  <p><%= link_to "Show all users", users_path %></p>
  <p><%= link_to "Show plant", plant_path(Plant.find(1)) %></p>
</div>
