<div class= "container">
  <h2><%= plant.name %></h2>
  <p><%= plant.address %></p>
  <p><%= plant.price %>€</p>
  <% rating_counter = 0 %>
  <% rating_points = 0 %>
  <% plant.reviews.each do |review| %>
    <% rating_counter += 1 %>
    <% rating_points += review.rating %>
    <%=  %>
  <% end %>
  <% if rating_counter == 0 %>
    <% rating_average = 0 %>
  <% else %>
    <% rating_average = (rating_points / rating_counter).truncate %>
  <% end %>

  <!-- Display rating average and rating count -->
  <p>
    <% rating_average.times do %>
      <i class="fas fa-star fa-sm" style="color: orange"></i>
    <% end %>
    <% (5 - rating_average).times do %>
      <i class="fas fa-star fa-sm" style="color: lightgrey"></i>
    <% end %>
     (<%= rating_counter %>)
  </p>
  <%= cl_image_tag plant.photo.key, height: 250, width: 250, crop: :fill, :class =>'image-trip'%>
  <%= link_to "Book this plant", plant_path(plant),class:'button'%>
</div>
