<div class="form-new-banner">
  <h1 class="text-center">Create a new plant</h1>
</div>
<div class="container-new-plant">
  <div class = "form-new">
    <%= simple_form_for(@plant) do |f|%>
      <div class="row" style="justify-content: space-between;">
        <%= f.input :name, input_wrapper: {class: "form-control"}, label_html: {class: "label_new"}  %>
        <%= f.input :price, input_wrapper: {class: "form-control"}, label_html: {class: "label_new"}  %>
        <%= f.input :indoor_outdoor, collection: [ "Indoor", "Outdoor"], input_wrapper: {class: "form-control"}, label_html: {class: "label_new"}  %>
        <%= f.input :species,collection: [ "Orchidaceae", "Almond – Prunus dulcis", "Angel trumpet – Brugmansia suaveolens", "Apricot – Prunus armeniaca", "Apple – Malus domestica"], input_wrapper: {class: "form-control"}, label_html: {class: "label_new"}  %>
        <%= f.input :weight, collection: [ "1kg - 10kg", "10kg - 50kg", "+ 50kg"], input_wrapper: {class: "form-control"}, label_html: {class: "label_new"}  %>
        <%= f.input :size, collection: [ "Small", "Medium", "Large"], input_wrapper: {class: "form-control"}, label_html: {class: "label_new"}  %>
      </div>
      <%= f.input :disponibility_start, input_wrapper: {class: "form-control"}, label_html: {class: "label_new"}  %>
      <%= f.input :disponibility_end, input_wrapper: {class: "form-control"}, label_html: {class: "label_new"}  %>
      <%= f.input :address, input_wrapper: {class: "form-control"}, label_html: {class: "label_new"}%>
      <%= f.input :photo, as: :file, input_wrapper: {class: "form-control"}, label_html: {class: "label_new"}%>
      <%= f.input :comments, input_wrapper: {class: "form-control"}, label_html: {class: "label_new"}  %>
      <%= f.submit class: "btn-plant"%>
    <% end %>
  </div>
</div>
<%= link_to "Back to my profile", user_path(current_user), class:"btn-plant"  %>