  <!-- Affichage du booking -->

  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <h2>Booking Request</h2>
    <%= simple_form_for [@plant, @booking] do |f| %>
      <%= f.input :start_date, as: :string, placeholder: "Choose date", required: false, input_html: {id: "range_start"} %>
      <%= f.input :end_date, as: :string, placeholder: "Choose date", required: false, input_html: {id: "range_end"} %>
      <h5 id="available_dates" data-date="<%= @plant.disponibility_end %>">Dates available from <%= @plant.disponibility_start %> to <%= @plant.disponibility_end %></h5>
      <h4>The total price will be:</h4>
      <h4 data-price="<%= @plant.price %>" id="total_price">Price</h4>
      <%= f.submit "Confirm booking", class: "btn-plant"%>
    <% end %>
  </div>








