<div class="container">
  <div class="row">
<!-- Affichage de la plante et sa photo -->
    <div class="col-8">
      <div class="pt-3 pb-3">

        <div class="card-booking-tony" type="button" data-toggle="modal" data-target="#exampleModalLong">
          <div class="card-trip-infos">
            <div class="row">
              <div class="col-9">
                <h3><%= @plant.name %></h3>
              </div>
              <div class="col-3">
                <h3 class="card-trip-pricing"><%= @plant.price %>€ /day</h3>
              </div>
            </div>
            </div>
              <%= cl_image_tag @plant.photo.key, crop: :fill %>
            </div>
          </div>
        </div>
<!-- Affichage du booking -->
    <div class="col-4">
      <div class = "form-booking sticky-booking mt-3 pt-3 pl-3 pb-3">
        <h4 class="text-center">Booking Request</h4>
        <%= simple_form_for [@plant, @booking] do |f| %>
          <%= f.input :start_date, as: :string, placeholder: "Choose start date", required: false, input_html: {id: "range_start"}, label_html: {class: "label_new"} %>
          <%= f.input :end_date, as: :string, placeholder: "Choose end date", required: false, input_html: {id: "range_end"}, label_html: {class: "label_new"} %>
            <div class="row">
              <div class="col-8">
                <h4 >Total price :</h4>
              </div>
              <div class="col-2">
                <h4 data-price="<%= @plant.price %>" id="total_price">...</h4>
              </div>
              <div class="col-1">
                <h4>€</h4>
              </div>
            </div>
          <%= f.submit "Confirm booking", class: "btn-plant"%>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
<!-- Affichage des infos & espèce de la plante -->
      <div class="container bg-white shadow card-booking-tony pb-3">
        <h3> Product details </h3>
        <p id="available_dates" data-date="<%= @plant.disponibility_end %>">Available from <strong><%= @plant.disponibility_start.strftime("%d/%m/%Y") %></strong> to <strong><%= @plant.disponibility_end.strftime("%d/%m/%Y") %></strong></p>
        <div class="row">
          <div class="col-12">
            <p> <%=  @plant.comments %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <p><strong>Species</strong></p>
          </div>
          <div class="col-7">
            <p><%= @plant.species %></p>
          </div>
        </div>

<!-- Picto size -->
        <div class="row">
          <div class="col-5">
            <p><strong>Size</strong></p>
          </div>
          <div class="col-7">
            <% if @plant.size == "Small" %>
              <p>
                <i class="fas fa-leaf fa-xs" style="color: green"></i>
                <i class="fas fa-leaf fa-sm" style="color: lightgrey "></i>
                <i class="fas fa-leaf fa-lg" style="color: lightgrey"></i>
              </p>
            <% elsif @plant.size == "Medium" %>
              <p>
                <i class="fas fa-leaf fa-xs" style="color: green"></i>
                <i class="fas fa-leaf fa-sm" style="color: green"></i>
                <i class="fas fa-leaf fa-lg" style="color: lightgrey"></i>
              </p>
            <% elsif @plant.size == "Large" %>
              <p>
                <i class="fas fa-leaf fa-xs" style="color: green"></i>
                <i class="fas fa-leaf fa-sm" style="color: green"></i>
                <i class="fas fa-leaf fa-lg" style="color: green"></i>
              </p>
            <% else %>
            <% end %>
          </div>
        </div>

<!-- Picto weight -->
        <div class="row">
          <div class="col-5">
            <p><strong>Weight</strong></p>
          </div>
          <div class="col-7">
            <% if @plant.weight == "Light (0-2kg)" %>
              <p>
                <i class="fas fa-weight-hanging" style="color: green"></i>
                <i class="fas fa-weight-hanging"style="color: lightgrey"></i>
                <i class="fas fa-weight-hanging" style="color: lightgrey"></i>
                <i class="fas fa-weight-hanging" style="color: lightgrey"></i>
              </p>
            <% elsif @plant.weight == "Medium (2-5kg)" %>
              <p>
                <i class="fas fa-weight-hanging" style="color: green"></i>
                <i class="fas fa-weight-hanging" style="color: green"></i>
                <i class="fas fa-weight-hanging" style="color: lightgrey"></i>
                <i class="fas fa-weight-hanging" style="color: lightgrey"></i>
              </p>
            <% elsif @plant.weight == "Heavy (5-10kg)" %>
              <p>
                <i class="fas fa-weight-hanging" style="color: green"></i>
                <i class="fas fa-weight-hanging" style="color: green"></i>
                <i class="fas fa-weight-hanging" style="color: green"></i>
                <i class="fas fa-weight-hanging" style="color: lightgrey"></i>
              </p>
            <% elsif @plant.weight == "Extra heavy (>10kg)" %>
              <p>
                <i class="fas fa-weight-hanging" style="color: green"></i>
                <i class="fas fa-weight-hanging" style="color: green"></i>
                <i class="fas fa-weight-hanging" style="color: green"></i>
                <i class="fas fa-weight-hanging" style="color: green"></i>
              </p>
            <% else %>
            <% end %>
          </div>
        </div>

<!-- Picto indoor/outdoor -->
        <div class="row">
          <div class="col-5">
            <p><strong>Indoor <i class="fas fa-home"></i> / Outdoor <i class="fas fa-tree"></i></strong></p>
          </div>
          <div class="col-7">
            <% if  @plant.indoor_outdoor == "Indoor" %>
              <i class="fas fa-home fa-lg" style="color: green"></i>
            <% elsif  @plant.indoor_outdoor == "Outdoor" %>
              <i class="fas fa-tree fa-lg" style="color: green"></i>
            <% elsif  @plant.indoor_outdoor == "Indoor/Outdoor" %>
              <p>
                <i class="fas fa-home fa-lg" style="color: green"></i> / <i class="fas fa-tree fa-lg" style="color: green"></i>
              </p>
            <% else %>
            <% end %>
          </div>
        </div>

<!-- Address -->
        <div class="row">
          <div class="col-5">
            <p><strong>Address</strong></p>
          </div>
          <div class="col-7">
            <p><%= @plant.address %></p>
          </div>
        </div>
      </div>

    <!-- Affichage des reviews -->
        <div class="container bg-white shadow card-booking-tony mt-3 pt-3">
          <h3>Reviews</h3>
          <% @reviews.each do |review| %>
            <div class="card-review">
              <% if review.booking.user.photo.attached?  %>
                <%= cl_image_tag review.booking.user.photo.key, :crop=>"fill", class:"avatar ml-3", style:"width:50px; height:50px"%>
              <% else %>
                <%= image_tag "http://www.tafecafe.com/wp-content/uploads/2015/09/default_avatar.png", class:"avatar ml-3", style:"width:50px; height:50px"%>
              <% end %>
             <div class="card-review-infos">
                <p><%= review.comments %></p>
                <% review.rating.times do %>
                  <i class="fas fa-star" style="color: orange"></i>
                <% end %>
                <% (5 - review.rating).times do  %>
                  <i class="fas fa-star" style="color: lightgrey"></i>
                <% end %>
             </div>
            </div>
          <% end %>
        <p> <%= link_to "Consult the owner profile: #{@plant.user.first_name} #{@plant.user.last_name}", user_path(@plant.user), class:"btn btn-light"%></p>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <p> <%= link_to "Back to plants", plants_path, class:"btn btn-secondary" %></p>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg">
  <div class="text-center">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
  <div class="container text-center">
    <%= cl_image_tag @plant.photo.key, class:"mt-5", height: 550; %>
    </div>
  </div>
</div>


