<div class="container text-center">
  <h1><%= @plant.name %></h1>
  <%= cl_image_tag @plant.photo.key, height: 130, width: 200, crop: :fill %>
  <p> Contacter le propriétaire : <%= @plant.user.email %> </p>
  <p> <%= link_to "Consulter le profil du propriétaire", user_path(@plant.user), class:"btn-plant" %></p>
  <p> <%= link_to "Book this plant", new_plant_booking_path(@plant), class:"btn-plant"  %></p>
  <p> <%= link_to "Back to plants", plants_path, class:"btn-plant"  %></p>
</div>
